
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>网页没找到</title>
    <%- include('commenejs/include') %>

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInLeft">
       
        <h1>404</h1>
        <h3 class="font-bold">好像没找到对应网站</h3>

        <div class="error-desc">
       对不起，没找到对应网站，请联系管理员！有可能是因为链接不对，或者网络不通
     
        </div>
        <div class="error-desc">

          <input type="button" value="点击这里通知管理员" class="btn btn-primary"/>
             </div>
    </div>



</body>

</html>
